<div class="col-sm-3">
    <h4>Все события</h4>
    <ul class="list-unstyled" id="events-list">
        {% if events %}
            {% for event in events.all %}
            <li><a href="{% url 'Calendar:event_detail' event.id %}">{{ event.title }}</a></li>
            {% endfor %}
        {% else %}
            <li>Нет событий</li>
        {% endif %}
    </ul>
    {% if user.is_authenticated %}
    <h4>Мои события</h4>
    <ul class="list-unstyled">
        {% if participating_events %}
            {% for event in participating_events.all %}
            <li><a href="{% url 'Calendar:event_detail' event.id %}">{{ event.title }}</a></li>
            {% endfor %}
        {% else %}
            <li>Нет событий</li>
        {% endif %}
    </ul>
    {% endif %}
</div>
