{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        {% include "includes/event_list.html" %}
        <div class="col-sm-9">
            <div class="row">
                <div class="col-8 col-sm-6">
                    <h2>Создание события</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit"  class="btn btn-success">Создать</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}